@use "../base/_typography" as typo
@use "../abstracts/_variables" as vars

.rootContainer
  min-block-size: 100vh
  font-family: var(--font-noto-sans-kr)

  display: flex
  flex-direction: column
  

.newStudyBtn
  position: fixed
  right: 40px
  bottom: 56px
  width: 56px
  height: 56px
  border-radius: 50%
  background-color: vars.$color-secondary-background
  box-shadow: 0 0 10px #00000015
  transition: box-shadow 0.3s ease-in-out

  &:hover
    box-shadow: 0 0 6px #00000050

  
.newStudyIcon
  display: inline-block
  width: 32px
  height: 32px
  margin-bottom: 4px
  margin-left: 6px

  & > svg
    width: inherit
    height: inherit


.contentsContainer
  inline-size: 100%
  max-inline-size: 1024px
  min-inline-size: 768px
  padding-inline: 16px
  padding-block: 48px
  margin-inline: auto


.mainAddons
  display: flex
  gap: 16px


.loginBtn
  padding-block: 12px
  padding-inline: 16px
  color: vars.$color-white
  background-color: vars.$color-primary
  border-radius: 12px
  transition: background-color 0.1s vars.$ease-in-4

  &:hover
    background-color: vars.$color-primary--dark