@use "../abstracts/_variables" as vars
  
.profile_container
  position: relative
  block-size: 100%

  display: flex
  align-items: center


.profile_btn
  height: 56px
  margin-bottom: 2px
  padding-inline: 8px

  display: flex
  align-items: center
  justify-content: center
  gap: 4px

  & > img
    border-radius: 100%
  & > svg
    color: vars.$color-gray-1
