@use "../abstracts/variables" as vars
@use "../base/reset"
@use "../base/_typography" as typo
  
* 
  box-sizing: border-box

html
  font-size: typo.$size--16

body
  min-block-size: 100vh
  background-color: vars.$color-white

main
  flex: auto
  
a
  color: black
  text-decoration: none

button
  padding: 0
  border: none
  background-color: transparent
  cursor: pointer

ul, ol, li
  list-style: none
  margin: 0
  padding: 0